<article>
  <h2 *ngIf="alumno.nombre; then aquiIf; else aquiElse"></h2>
  <ng-template #aquiIf>
    <h2>{{ alumno.nombre | uppercase }}</h2>
  </ng-template>
  <ng-template #aquiElse>
    <h2>Sin nombre</h2>
  </ng-template>
  <p *ngIf="alumno.detalle; then ifDetalle; else elseDetalle"></p>
  <ng-template #ifDetalle>
    <p> {{ alumno.detalle }} </p>
  </ng-template>
  <ng-template #elseDetalle>
    <p>Sin detalle</p>
  </ng-template>
  <button (click)="emitirId()">Eliminar :(</button>
</article>
